
<nav class="navbar">
    <div class="logo">
      <img src="assets/images.png" alt="Logo">
      <span>MONEY TRACKER APP</span>
    </div>
    <ul class="nav-links" style="margin-bottom: -5px;">
      <li><a routerLink="/home"><u>Home</u></a></li>
      <li><a routerLink="/transactions"><u>Transactions</u></a></li>
      <li><a routerLink="/transactionrecord"><u>Transactions Records</u></a></li>
     
    </ul>
  </nav>

  
  <footer>
    <p>Created By Prasad Kale &copy; 2023 || Money Tracker App. All rights reserved.</p>
  </footer>